<div class="container">
    <div class="add-listings-box1">
        <div style="margin-top: 120px;" class="card-qr" *ngIf="user?.shopName">
            <div class="add-listings-btn text-right p-0">
                <button class="submit_btn" (click)="print()" type="submit">Save As PDF</button>
            </div>
            <div class="add-card" style="margin: auto;">
                <div style="display: flex; justify-content: center;">
                    <img style="width: 80px;" src="assets/img/SJ_logo__2_-removebg-preview.png" alt="">
                </div>
                <p style="font-size: 20px; text-align: center; margin-bottom: 0;">{{user?.shopName}}</p>
                <p style="font-size: 18px; text-align: center;">{{user?.name}}</p>
                <img style="width: 80px; display: flex; justify-content: center;" [src]="image" alt="">
                <p style="font-size: 18px; text-align: center;">{{user?.coupanCode}}</p>
            </div>
        </div>
        <div style="margin-top: 150px;" *ngIf="!user?.shopName">
            <div style="display: flex; justify-content: center;">
                <img style="width: 200px;"  src="assets/img/868804-removebg-preview.png" alt="">
            </div>
            <p style="font-size: 20px; text-align: center;">Registration Not Found</p>
        </div>
    </div>  
</div>