<app-dashboard-sidemenu></app-dashboard-sidemenu>

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

    <app-dashboard-navbar></app-dashboard-navbar>

    <!-- Breadcrumb Area -->
    <div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
        <h1>{{Content.title}}</h1>
        <ol class="breadcrumb">
            <li class="item"><a routerLink="/">Home</a></li>
            <li class="item"><a routerLink="/dashboard">{{Content.subTitle}}</a></li>
            <li class="item">{{Content.title}}</li>
        </ol>
    </div>
    <!-- End Breadcrumb Area -->

    <!-- Start -->
    <form [formGroup]="itemMaster" (ngSubmit)="itemMasterSubmit(itemForm)"
        #itemForm="ngForm" *ngIf="!nextPhase">
        <div class="add-listings-box1">
            <div class="row">
                <div class="col-lg-3 col-md-12 form-group">
                    <label for="status">Bill No.<span class="star_class">*</span></label>
                    <input type="text" class="form-control"
                        formControlName="billNo" placeholder="Enter Bill No."
                        [class.is-invalid]="(itemForm.submitted &&
                        itemMaster.get('billNo')?.invalid) ||
                        (itemMaster.get('billNo')?.touched &&
                        itemMaster.get('billNo')?.invalid)" required>
                    <div class="invalid-feedback"> Bill No. is Required </div>
                </div>
            </div>
        </div>

        <!-- Start -->
        <div class="add-listings-box1" formArrayName="productList">
            <p-progressBar [style]="{'height': '20px'}"
                        [value]="totalNetWeight" [showValue]="false"></p-progressBar>
            <ng-container *ngFor="let form of getProductList().controls; index
                as index; last as last">
                <div class="row" [formGroupName]="index">
                    <div class="col-lg-3 col-md-12 form-group">
                        <label for="status">{{index+1}}. Product Name<span
                                class="star_class">*</span></label>
                        <select name="" id="" class="form-control form-select"
                            formControlName="productId"
                            (change)="getProductWeight($event , index)">
                            <option value="" disabled>Select Product Name</option>
                            <ng-container *ngFor="let product of
                                productMasterList">
                                <option [value]="product.productId">{{product.productName}}</option>
                            </ng-container>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-12 form-group">
                        <label>Product Weight<span class="star_class">*</span></label>
                        <span class="form-control">{{form.value.productWeight ?
                            form.value.productWeight : 'Enter Product Weight'}}</span>
                    </div>
                    <div class="col-lg-3 col-md-12 form-group">
                        <label>Product Quantity<span class="star_class">*</span></label>
                        <input type="number" class="form-control" min="1"
                            formControlName="productQuantity"
                            placeholder="Enter Product weight"
                            (input)="getNetWeight(index)"
                            [class.is-invalid]="itemForm.submitted &&
                            itemMaster.get('productQuantity')?.invalid ||
                            (itemMaster.get('productQuantity')?.touched &&
                            itemMaster.get('productQuantity')?.invalid)"
                            required>
                        <div class="invalid-feedback"> Product Quantity is
                            Required
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 form-group">
                        <label>Product Net Weight<span class="star_class">*</span></label>
                        <span class="form-control">{{form.value.productNetWeight
                            ? (form.value.productNetWeight | number:'0.1-2') :
                            'Enter Product Net Weight'}}</span>

                    </div>
                    <div class="add-listings-btn">
                        <div class="col-lg-12 form-group d-flex"
                            style="margin-top: 0!important;">
                            <div class="col-lg-4 p-0">
                                <button type="button" class="submit_btn"
                                    *ngIf="last" (click)="addProduct()"
                                    style="padding : 6px 15px 6px;
                                    margin-right: 5px; height: 35px;">+</button>
                                <button type="button" class="submit_btn"
                                    *ngIf="last && index> 0"
                                    (click)="removeProduct(index)"
                                    style="padding : 6px 15px 6px;
                                    margin-right: 5px; height: 35px;">-</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <div class="add-listings-btn text-right" *ngIf="totalNetWeight >= 100">
                <button class="submit_btn" type="submit" (click)="nextPhase = !nextPhase">Next</button>
            </div>
        </div>

        <!-- End -->
    </form>
    <!-- End -->

    <div class="add-listings-box1" *ngIf="nextPhase">
        <form [formGroup]="registerMaster" (ngSubmit)="registerMasterSubmit(register)" #register="ngForm">
            <div class="row">
                <div class="col-lg-3 col-md-12 form-group">
                    <label>Name<span class="star_class">*</span></label>
                    <input type="text" class="form-control"
                        formControlName="name"
                        placeholder="Enter your name"
                        [class.is-invalid]="register.submitted &&
                        registerMaster.get('name')?.invalid ||
                        (registerMaster.get('name')?.touched &&
                        registerMaster.get('name')?.invalid)"
                        required>
                    <div class="invalid-feedback"> Name is Required
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 form-group">
                    <label>Father Name<span class="star_class">*</span></label>
                    <input type="text" class="form-control"
                        formControlName="fname"
                        placeholder="Enter father name"
                        [class.is-invalid]="register.submitted &&
                        registerMaster.get('fname')?.invalid ||
                        (registerMaster.get('fname')?.touched &&
                        registerMaster.get('fname')?.invalid)"
                        required>
                    <div class="invalid-feedback"> Father Name is Required
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 form-group">
                    <label>Shop Name<span class="star_class">*</span></label>
                    <input type="text" class="form-control"
                        formControlName="sname"
                        placeholder="Enter shop name"
                        [class.is-invalid]="register.submitted &&
                        registerMaster.get('sname')?.invalid ||
                        (registerMaster.get('sname')?.touched &&
                        registerMaster.get('sname')?.invalid)"
                        required>
                    <div class="invalid-feedback"> Shop Name is Required
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 form-group">
                    <label>City<span class="star_class">*</span></label>
                    <input type="text" class="form-control"
                        formControlName="cname"
                        placeholder="Enter City"
                        [class.is-invalid]="register.submitted &&
                        registerMaster.get('cname')?.invalid ||
                        (registerMaster.get('cname')?.touched &&
                        registerMaster.get('cname')?.invalid)"
                        required>
                    <div class="invalid-feedback"> City is Required
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 form-group">
                    <label>Mobile Number<span class="star_class">*</span></label>
                    <input type="text" class="form-control" minlength="10"
                        formControlName="mobileNo" maxlength="10" (blur)="getOtp()"
                        placeholder="Enter your Mobile Number"
                        [class.is-invalid]="register.submitted &&
                        registerMaster.get('mobileNo')?.invalid ||
                        (registerMaster.get('mobileNo')?.touched &&
                        registerMaster.get('mobileNo')?.invalid)"
                        required>
                    <div class="invalid-feedback"> Mobile Number is Required
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 form-group" *ngIf="showOtp">
                    <label>OTP<span class="star_class">*</span></label>
                    <input type="text" class="form-control"
                        formControlName="otp"
                        placeholder="Enter OTP"
                        [class.is-invalid]="register.submitted &&
                        registerMaster.get('otp')?.invalid ||
                        (registerMaster.get('otp')?.touched &&
                        registerMaster.get('otp')?.invalid)"
                        required>
                    <div class="invalid-feedback"> OTP is Required</div>
                </div>
                <div class="col-lg-3 col-md-12 form-group">
                    <label>Aadhar Number<span class="star_class">*</span></label>
                    <input type="text" class="form-control"
                        formControlName="aadharNo"
                        placeholder="Enter Aadhar Number"
                        [class.is-invalid]="register.submitted &&
                        registerMaster.get('aadharNo')?.invalid ||
                        (registerMaster.get('aadharNo')?.touched &&
                        registerMaster.get('aadharNo')?.invalid)"
                        required>
                    <div class="invalid-feedback"> Aadhar Number is Required</div>
                </div>
                <div class="col-lg-3 col-md-12 form-group">
                    <label>PAN<span class="star_class">*</span></label>
                    <input type="text" class="form-control"
                        formControlName="panNo"
                        placeholder="Enter PAN"
                        [class.is-invalid]="register.submitted &&
                        registerMaster.get('panNo')?.invalid ||
                        (registerMaster.get('panNo')?.touched &&
                        registerMaster.get('panNo')?.invalid)"
                        required>
                    <div class="invalid-feedback"> PAN is Required </div>
                </div>
    
                <div class="add-listings-btn text-right" *ngIf="totalNetWeight >= 100">
                    <button class="submit_btn" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>