@import "../../pages/dashboard/dashboard.component.scss";

.add-listings-box1 {
    margin-bottom: 30px;
    background-color: var(--whiteColor);
    box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
}

:host::ng-deep {
    .p-datatable .p-datatable-thead > tr > th {
        white-space: nowrap;
    }

    .p-button.p-button-icon-only{
        padding: 0.3rem!important;
    }

    input,
    select {
        height: 35px;
    }
}