<app-dashboard-sidemenu></app-dashboard-sidemenu>

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

    <app-dashboard-navbar></app-dashboard-navbar>

    <!-- Breadcrumb Area -->
    <div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
        <h1>{{Content.title}}</h1>
        <ol class="breadcrumb">
            <li class="item"><a routerLink="/">Home</a></li>
            <li class="item"><a routerLink="/dashboard">{{Content.subTitle}}</a></li>
            <li class="item">{{Content.title}}</li>
        </ol>
    </div>

    <div class="add-listings-box1" *ngIf="users?.length > 0">
        <p-table #dt [value]="users" dataKey="id" [rowHover]="true" [rows]="10" responsiveLayout="scroll"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
            [globalFilterFields]="['name','fName','mobileNo','shopName','city','coupanCode']">
            <ng-template pTemplate="caption">
                <!-- <div class="table-header"> -->
                    <!-- List of Customers -->
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Global Search" />
                    </span>
                <!-- </div> -->
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>S. No.</th>
                    <th>Bill No.</th>
                    <th>Bill Date</th>
                    <th>Name</th>
                    <th>Father's Name</th>
                    <th>Mobile No.</th>
                    <th>Shop Name</th>
                    <th>City</th>
                    <th>Coupan Code</th>
                    <th>Aadhar No.</th>
                    <th>PAN</th>
                    <th>Bar Code</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer let-i="rowIndex">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{customer?.billNo}}</td>
                    <td>{{customer?.billDate}}</td>
                    <td>{{customer?.name}}</td>
                    <td>{{customer?.fName}}</td>
                    <td>{{customer?.mobileNo}}</td>
                    <td>{{customer?.shopName}}</td>
                    <td>{{customer?.city}}</td>
                    <td>{{customer?.coupanCode}}</td>
                    <td>{{customer?.aadharCard}}</td>
                    <td>{{customer?.panCard}}</td>
                    <td style="text-align: center;cursor: pointer;" (click)="getImage(customer.name, customer.city, customer.mobileNo)"><i class="pi pi-download"></i></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No customers found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>