<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="stats-card-box">
            <!-- <div class="icon-box">
                <i class='bx bx-map-alt'></i>
            </div> -->
            <span class="sub-title">Registered User</span>
            <h3>{{data.registerUser}}</h3>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="stats-card-box">
            <!-- <div class="icon-box">
                <i class='bx bx-heart'></i>
            </div> -->
            <span class="sub-title">Pending Users</span>
            <h3>{{300 - data.registerUser}}</h3>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="stats-card-box" style="background:navy">
            <span class="sub-title">Total Sale</span>
            <h3>{{data.productWt}}</h3>
        </div>
    </div>

</div>