<app-dashboard-sidemenu></app-dashboard-sidemenu>

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

    <app-dashboard-navbar></app-dashboard-navbar>

    <!-- Breadcrumb Area -->
    <div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
        <h1>{{Content.title}}</h1>
        <ol class="breadcrumb">
            <li class="item"><a routerLink="/">Home</a></li>
            <li class="item"><a routerLink="/dashboard">{{Content.subTitle}}</a></li>
            <li class="item">{{Content.title}}</li>
        </ol>
    </div>
    <!-- End Breadcrumb Area -->

    <!-- Start -->
    <div class="add-listings-box1">
        <!-- Start -->
        <!-- <prime-toast></prime-toast> -->
        <!-- End -->
        <form [formGroup]="itemMaster" (ngSubmit)="itemMasterSubmit(itemForm)" #itemForm="ngForm">
            <div class="row">
                <div class="col-lg-4 col-md-12 form-group">
                    <label for="status">Item Name<span class="star_class">*</span></label>
                    <input type="text" class="form-control" formControlName="itemCode" placeholder="Enter Item Name"
                        [class.is-invalid]="(itemForm.submitted &&
                        itemMaster.get('itemCode')?.invalid) ||
                        (itemMaster.get('itemCode')?.touched &&
                        itemMaster.get('itemCode')?.invalid)" required>
                    <div class="invalid-feedback"> Item Name is Required </div>
                </div>
                <div class="col-lg-4 col-md-12 form-group">
                    <label>Purchasing Price<span class="star_class">*</span></label>
                    <input type="number" class="form-control" min="0" formControlName="rawPartWeight" maxlength="6"
                        placeholder="Enter Purchasing Price" [class.is-invalid]="itemForm.submitted &&
                        itemMaster.get('rawPartWeight')?.invalid ||
                        (itemMaster.get('rawPartWeight')?.touched &&
                        itemMaster.get('rawPartWeight')?.invalid)" required>
                    <div class="invalid-feedback"> Purchasing Price is Required
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 form-group">
                    <label>Stock<span class="star_class">*</span></label>
                    <input type="number" class="form-control" min="0" formControlName="stock" maxlength="6"
                        placeholder="Enter Item Stock" [class.is-invalid]="itemForm.submitted &&
                        itemMaster.get('stock')?.invalid ||
                        (itemMaster.get('stock')?.touched &&
                        itemMaster.get('stock')?.invalid)" required>
                    <div class="invalid-feedback"> Item Stock is Required
                    </div>
                </div>
                <div class="add-listings-btn col-lg-12 col-md-12">
                    <div class="form-group">
                        <button type="submit" class="submit_btn m-0">{{submitButton}}</button>
                        <button type="reset" class="mx-3 reset_btn my-0">Reset</button>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <div class="add-listings-box1">
        <div class="breadcrumb-area">
            <h1 style="border: none;">Product List</h1>
        </div>
        <table class="table table-hover" style="width: 100%;">
            <thead>
              <tr>
                <th scope="col">S. No.</th>
                <th scope="col">Item Name</th>
                <th scope="col">Purchasing Price</th>
                <th scope="col">Item Stock</th>
                <th scope="col">Total Fine</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of productList; index as index">
                <th scope="row">{{index+1}}</th>
                <td>{{item.productCode}}</td>
                <td>{{item.productWt}}</td>
                <td>{{item.stock}}</td>
                <td>{{item.productWt * item.stock}}</td>
                <td>
                    <div class="d-flex align-items-center">
                        <i class="pi pi-pencil mr-3" style="cursor: pointer;" pTooltip="Edit" (click)="onClick('edit', index, item)"></i>
                        <i class="pi pi-trash" style="cursor: pointer;" pTooltip="Delete" (click)="confirm1(item)"></i>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    <!-- End -->
</div>